* {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0aaaf2;
  }

.about-section {
  background: rgb(36, 129, 228);
  background-size: 55%;
  background-color:  #0aaaf2;
  overflow: hidden;
  padding: 100px;
}

.inner-container {
width: 55%;
float: right;
background-color:  #0aaaf2
padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}


.text {
    font-size: 13px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
    


  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #2691d9;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #2691d9;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #2691d9;
  }
  